<div class="container">
  <br/>
  <div class="jumbotron">
    <h1>Blocipedia</h1>
    <span class="glyphicon glyphicon-plus"></span>
    <p>Blocipedia is a resource for writing your own wikis!</p>
  </div>

  <section class="price-1">
    <div class="container">
      <div class="row plans">
        <div class="col-sm-6">
          <div class="plan">
            <div class="title">Starter</div>
            <div class="price">Free</div>
            <div class="description">
              10,000 messages
              <br>
              <b>unlimited</b> data
              <br>
              <b>unlimited</b> users
              <br>first 10 day free
            </div>
            <a class="btn btn-info" href="#">Sign up for Free</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="plan">
            <div class="title">Professional</div>
            <div class="price">5$/month</div>
            <div class="description">
              10,000 messages
              <br>
              <b>unlimited</b> data
              <br>
              <b>unlimited</b> users
              <br>first 30 day free
            </div>
            <a class="btn btn-primary" href="#">Choose this Plan</a>
            <div class="ribbon">POPULAR</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.container-->
  </section>
'</div>
